<div class="brand">
    <img class="brand-image" src="/static/assets/images/brand.svg" alt="">
    <h4 class="brand-title">SmartDoor</h4>
</div>
<a onclick="show_menu()" id="show-menu">Menu</a>
<div id="menu-close" class="row menubar">
    <div class="col-md-12 menu">
        <ul>
            {% if request.user.is_authenticated %}
                {% if request.user.is_admin %}
                    {% include "dashboard/admin_sidebar.html" %}
                {% else %}
                    {% include "dashboard/user_sidebar.html" %}
                {% endif %}
            {% else %}

                <li class="active">
                    <a href="/">
                        <i class="fa fa-arrow-alt-circle-right"></i>
                        Login
                    </a>
                </li>

            {% endif %}
        </ul>
        <div class="powered-by">
            {% include "partials/powered_by.html" %}
        </div>
    </div>
</div>