APP_VERSION=v1

# SECURITY WARNING: dont run with debug turned on in production!
DEBUG=true

DB_HOST=0.0.0.0
DB_PORT=3306
DB_NAME=django
DB_USER=root
DB_PASSWORD=secret

REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_DB=0

# In minute
JWT_EXP=60
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=

TIMEZONE=GMT

LANG=en-us

STATIC_URL=/static/

SENTRY_DSN=