{% extends "layouts/app.html" %}

{% block content %}

    <h3 class="page-title">Users</h3>

    <a class="btn btn-success page-top-button" style="margin: 25px 0; " href="/users/add">
        Add
        <i class="fa fa-plus"></i>
    </a>

    <div class="clearfix"></div>

    {% if not users %}

        <div class="alert alert-warning">
            There's no record exists!
        </div>

    {% else %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>#</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Joined at</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row" class="text-center" style="width:2%">
                        {{ user.id }}
                    </td>
                    <td scope="row" class="text-center" style="width:1%">
                        <img class="left-side-avatar"
                             src="/static/uploads/avatars/{{ user.avatar }}" />
                    </td>
                    <td scope="row" style="width:10%">
                        {{ user.fullname }}
                    </td>
                    <td scope="row" style="width:5%">
                        {{ user.username }}
                    </td>
                    <td scope="row" style="width:10%">
                        {{ user.email }}
                    </td>
                    <td scope="row" style="width:5%">
                        {{ user.role.title }}
                    </td>
                    <td scope="row" style="width:15%">
                        {{ user.joined_at }}
                    </td>
                    <td scope="row" style="width:5%">
                        <ul class="actions">
                            <li>
                                <a class="text-success" href="/logs/user/{{ user.id }}">
                                    <i class="fa fa-toilet-paper"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-primary" href="/logs/user/{{ user.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-danger" href="/logs/user/{{ user.id }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}